@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    font-family: 'Inter', sans-serif;
}

.gradient-text {
    background: #ffdd1d;
background: -webkit-linear-gradient(to right, #ffdd1d 0%, #CF1512 100%);
background: -moz-linear-gradient(to right, #ffdd1d 0%, #CF1512 100%);
background: linear-gradient(to right, #ffdd1d 0%, #CF1512 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: 0;
}

.nav-item::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  .nav-item:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .nav-item::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: #ffdd1d;
    z-index: -1;
    transition: transform .3s ease;
  }
  
  .nav-item {
    position: relative;
    cursor: pointer;
  }
